.ui.vertical.menu .item.dropdown-item
  padding: 0
  
  .item-linker
    font-size: 13px
    overflow: hidden
    position: relative
    z-index: 10
    background: #455a64
  
    i.icon.chevron
      display: inline-block
      padding: 0 3px
      padding-right: 10px
      min-height: 34px
      font-size: 8px
      line-height: 34px
      float: right
      
    .item-header
      float: left
      padding: 10px 15px
      
    i.icon
      opacity: 0.8
      padding-right: 15px
      
  .menu
    left: -300px
    min-height: 24px
    display: block;
    position:absolute
    line-height:0;
    z-index: 5
    
    overflow: hidden
                
    &.open
      left: 0
      position:relative
      transition: left 0.3s ease