
.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th
    padding-top: 1em
    background-color: #f9fafb
    border-top: 1px solid rgba(34, 36, 38, 0.1);

.ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child
    
    border-left: 1px solid rgba(34, 36, 38, 0.1);

.ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child
    
    border-right: 1px solid rgba(34, 36, 38, 0.1);

